<%= column_chart @users.map { |user| [user.username, user.count_jobs] } %>

<hr>

<div class="table table-sm">
	<table class="table">
		<tr>
			<th>Username</th>
			<th>Total jobs</th>
		</tr>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.username %></td>
				<td><%= user.count_jobs %></td>
			</tr>
		<% end %>
	</table>
</div>

<hr>

<div class="table table-bordered table-sm table-responsive">
	<table class="table">
		<tr>
			<th>ID</th>
			<th>Reporter</th>
			<th>Handler</th>
			<th>Status</th>
			<th>Category</th>
			<th>Summary</th>
			<th>Danh Muc</th>
			<th>Property</th>
			<th>Factory</th>
			<th>Dept</th>
			<th>IP Address</th>
			<th>Phone</th>
		</tr>
		<%= render @bugs %>
	</table>
</div>