<!-- <p class="truncate">Category Category Category Category Category Category Category Category Category Category Category Category Category Category Category </p> -->
<div class="table table-bordered table-sm table-responsive">
	<table class="table">
		<tr>
			<th>ID</th>
			<th>Reporter</th>
			<th>Handler</th>
			<th>Status</th>
			<th>Category</th>
			<th>Summary</th>
			<th>Danh Muc</th>
			<th>Property</th>
			<th>Factory</th>
			<th>Dept</th>
			<th>IP Address</th>
			<th>Phone</th>
		</tr>
		<%= render @bugs %>
	</table>
</div>